body {
    font-family: 'Calibri';

    margin: 0;
    padding: 0;

    color: #ea2027;
    background-color: #fff;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

img {
    float: right;

    margin-left: 15px;
    padding: 10px;

    box-shadow: inset 0 0 0 60px #ea2027;
}

a {
    text-decoration: none;
}
.conteiner {
    width: 957px;
    margin: 0 auto;
}

.main-header {
    height: 160px;
}
.main-header-navigation {
    display: flex;

    margin: 0 auto;
}

.main-header-navigation li {
    font-size: 50px;
    font-weight: bold;
    line-height: 85px;

    display: inline-block;

    width: 100%;

    transition: .5s;
    text-align: center;

    color: #353132;
    background-color: #ff3838;
}

.main-header-navigation li:hover {
    cursor: default;

    box-shadow: inset 0 0 0 60px #ea2027;
}

.main-header-navigation li:hover {
    color: #fff;
}

.main-text {
    position: relative;
}

.main-text img {
    position: absolute;
    top: 25px;
    left: 52.7%;
}

.main-header-navigation li {
    padding: 25px;

    text-transform: uppercase;
}

.my-love-description {
    font-size: 18px;
}


p {
    line-height: 23px;

    padding: 10px;

    text-align: justify;

    color: #353132;
}
.nat {
    margin-right: 10px;

    border: 5px solid #4834d4;
}

.nat:last-child {
    margin-right: 0;

    border: 5px solid #4834d4;
}

.love-name {
    font-size: 20px;
    font-weight: bold;
}

.features-header {
    display: block;

    margin-top: 15px;
    padding-bottom: 22px;

    text-align: center;
}

.features-header h2 {
    font-family: 'Source Sans Pro', cursive;
    font-size: 30px;
    font-weight: 700;

    display: inline-block;

    padding-bottom: 10px;

    transition: .10s ease-in-out;
    transition: background-size .5s;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #4834d4;
    background-image: linear-gradient(#4834d4 50%, #4834d4 50%), linear-gradient(silver 50%, silver 50%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 0 .12em, 100% .12em;
}

.features-header h2:hover {
    cursor: default;

    background-position: left bottom;
    background-size: 100% .12em, 100% .12em;
}

.category-list {
    display: flex;

    width: 957px;

    border-left: 2px solid #d5d5d5;

    flex-wrap: wrap;
}

.category-list .category-list-item {
    position: relative;

    width: 33%;
    margin-top: -2px;
    margin-left: -2px;

    -webkit-transition: 150ms;
            transition: 150ms;

    border-top: 2px solid #d5d5d5;
    border-right: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
}

.category-list .category-list-item:hover {
    z-index: 1;

    border-color: #4834d4;
    background-color: #4834d4;
}

.category-list a {
    display: inline-block;
}

.category-list .category-list-item a {
    display: block;

    padding: 20px 0 0 0;

    text-align: center;
    text-transform: none;

    color: #000;
}

.category-list .category-item-icon {
    font-size: 75px;
    line-height: 94px;

    height: 94px;
}

.category-list .category-item-name {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 20px;

    letter-spacing: .6px;
    text-transform: uppercase;
}

.banner-content {
    padding: 10px;

    background-color: #ff3838;
    box-shadow: inset 0 0 0 6px #ea2027;
}
.banner-header {
    text-align: center;

    color: #ea2027;
}

.content-wrapper {
    width: 100%;
    background-color: #ff3838;
}

.content-wrapper .content-text h2{
    text-align: center;
    font-size: 37px;
    color: #ea2027;
    padding-top: 25px;
}

.buttons {
    margin: 0 auto;
    width: 300px;
    display: flex;
    padding-bottom: 20px;
}

.button-01 {
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-top-left-radius: 50%;    
    border-bottom-left-radius: 50%;    
    position: relative;
    transition: .5s;
}

.button-01:hover {
    box-shadow: inset 0 0 0 5px #000;
}

.button-02:hover {
    box-shadow: inset 0 0 0 5px #fff;
}

.button-02 {
    background-color: #000;
    width: 150px;
    height: 150px;
    border-top-right-radius: 50%;    
    border-bottom-right-radius: 50%;  
    right: 15%;    
    position: relative;
        transition: .5s;

}

.button-01 span{
    position: absolute;
    top: 50%;
    left: 40%;
    color: #000;
    font-size: 32px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.button-02 span{
    position: absolute;
    top: 50%;
    left: 45%;
    color: #fff;
        font-size: 32px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


.joke-text {
    text-align: center;
    font-size: 50px;
}

.bio {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.bio span{
    margin-bottom: 20px;
}
.graphy {
    display: flex;
}

.bio-cont {
    color: #353132;
    margin-left: 500px;
    display: flex;
        font-size: 20px;
    font-weight: bold;
    flex-direction: column;
}
.bio-cont span{
    margin-bottom: 20px;

}